1. Данный модуль обслуживает синхронизацию только с сиcтемой IBS
2. Данный модуль содержит реализацию логики синхронизации конкретных типов объектов с IBS
3. Общие вопросы синхронизации размещаются в модуле ERM.Sync
4. Модуль зависит от IBS.SyncService, никакие модули ERM не зависят от данного модуля, кроме самого приложения
5. Необходимо отделить логику определения потребности в синхронизации от объекта
6. Модуль должен иметь настройки позволяющие включать и отключать логику синхронизации

