<?xml version="1.0" encoding="utf-8" ?>
<Options xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" TestRunTimeLimit="5" >
	<Applications>
		<!-- Win -->
		<Application
			Name="IntecoAG.ERM.Win"
			FileName="[WinAppBin]\IntecoAG.Win.exe"
			AdapterAssemblyName="[WinAdapterAssemblyName]"
			CommunicationPort="4100"/>
		<!-- Web -->
		<Application
			Name="IntecoAG.ERMWeb"
			Url="http://localhost:4030"
			PhysicalPath="[WebAppBin]"
			AdapterAssemblyName="[WebAdapterAssemblyName]"/>
		<!-- For IIS -->
		<!--Application
			Name="[SolutionName]Web"
			Url="http://localhost/IntecoAG.ERM.Web/Default.aspx"
			AdapterAssemblyName="[WebAdapterAssemblyName]"/-->
	</Applications>
	<TestDatabases>
		<!--<Database xsi:type="TestMSSQLDatabase" Server="(local)" DBName="IntecoAG.ERMEasyTest" />-->
    
    <!--<Database xsi:type="TestMSSQLDatabase"
          Server="VB_ANGARA\SQLEXPRESS"
          DBName="IntecoAGERMEasyTest" UserID="sa" Password="123100"/>-->

    <Database xsi:type="TestMSSQLDatabase"
          Server="VB_ANGARA\SQLEXPRESS"
          DBName="IntecoAGERMEasyTest" UserID="sa" Password="123100"/>

    <!--<Database xsi:type="TestAccessDatabase"
          DBSourceLocation="c:\PROJECTS\IntecoAG.ERM\IntecoAG.ERM.Module\Functional Tests\MySolution.mdb"
          DBName="AccessTestDatabase"/>-->
  </TestDatabases>

	<Aliases>
		<Alias Name="WinAdapterAssemblyName" Value="DevExpress.ExpressApp.EasyTest.WinAdapter.v10.2, Version=10.2.8.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
		<Alias Name="WebAdapterAssemblyName" Value="DevExpress.ExpressApp.EasyTest.WebAdapter.v10.2, Version=10.2.8.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
		<Alias Name="WinAppBin" Value="C:\PROJECTS\IntecoAG.ERM\IntecoAG.ERM.Win\Bin\EasyTest" />
		<Alias Name="WebAppBin" Value="Write path to the win application here." />
	</Aliases>
</Options>
