<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Modules" value="" />
    <add key="NewVersionServer" value="" />
    <add key="EnableDiagnosticActions" value="True" />
    <add key="Languages" value="ru-RU;ru;en" />
    <add key ="IBS.SyncService" value="http://sagsrv:8080/natcgi-test/natcgi.exe/" />

    <add key="UserModelDiffsLocation" value="CurrentUserApplicationDataFolder"/>
    <add key="TraceLogLocation" value="CurrentUserApplicationDataFolder" />
    <!-- Следующие ключи управляют именами ролей используемых системой-->
    <!-- Роль без прав, назначается пользователю по умолчанию -->
    <add key ="SecurityGroups.NullRightRole" value="DefaultNullRight"/>
    <!-- Роль с правами на чтение всех объектов системы, обновляется автоматически системой-->
    <add key ="SecurityGroups.ReadAllRole"   value="ReadAll"/>
    <!--
      Следующие ключи используются для управления обновлением списка пользователей из сервиса каталогов
      
      Использовать локальную группу пользователей 
    <add key="SyncUserWithAD.ContextType" value="Machine"/>
      Использовать группу домена
    <add key="SyncUserWithAD.ContextType" value="Domain"/>
      Использовать группу из LDAP каталога
    <add key="SyncUserWithAD.ContextType" value="ApplicationDirectory"/>
      Имя сервера или домена
    <add key="SyncUserWithAD.ContextName" value="PERSONAL"/>
      Если группа в домене контейнер группы
    <add key="SyncUserWithAD.ContainerName" value="PATH"/>
      Имя группы
    <add key="SyncUserWithAD.GroupName"   value="TestADGroup"/>
    -->
    <add key="SyncUserWithAD.ContextType" value="Domain"/>
    <add key="SyncUserWithAD.ContextName" value="PERSONAL"/>
    <add key="SyncUserWithAD.GroupName"   value="mount_KDD"/>
    <!-- Признак применения самодельного оператора поиска в строках IList - для postreSql работает без учёта регистров букв -->
    <add key="UseILike" value="True" />
    <add key="DefaultAdminName" value="PERSONAL\upa" />
    <!-- Каталог размещения Model.User.xafml, по умолчанию - в Program Files... -->
    <!-- http://documentation.devexpress.com/#Xaf/CustomDocument3238/1.6 -->
    <!-- Также можно разместить Model.User.xafml в базе данных для каждого пользователя отдельно:
    http://documentation.devexpress.com/#Xaf/CustomDocument3337
    http://www.devexpress.com/Support/Center/kb/p/K18137.aspx
    -->
  </appSettings>
  <connectionStrings>
    <add name="EasyTestConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Password=;User ID=Admin;Data Source=IntecoAG.ERM.mdb;Mode=Share Deny None;"/>
    <add name="ConnectionString" connectionString="XpoProvider=CustomPostgreSqlConnectionProvider;Server=erm-test;User Id=pg_adm;Password='flesh*token=across';Database=ermtest;Encoding=UNICODE;"/>
  </connectionStrings>
  <system.diagnostics>
    <!-- трассировка sql-запросов в файл -->
    <!--
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="LogFileTraceListener" type="System.Diagnostics.TextWriterTraceListener"
            initializeData="trace.log" />
        <remove name="Default" />
      </listeners>
    </trace>
    -->
    <switches>
      <!-- Use the one of predefined values: 0-Off, 1-Errors, 2-Warnings, 3-Info, 4-Verbose. The default value is 3. -->
      <add name="eXpressAppFramework" value="2" />
      <add name="XPO" value="4" />
      <!--
			<add name="XPO" value="3" />
			-->
    </switches>
  </system.diagnostics>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="DocumentFormat.OpenXml" publicKeyToken="31BF3856AD364E35" culture="neutral"/>
        <bindingRedirect oldVersion="2.0.0.0-2.0.5022.0" newVersion="2.0.5022.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

</configuration>
