<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Modules" value="" />
    <add key="NewVersionServer" value="" />
    <add key="EnableDiagnosticActions" value="False" />
    <add key="Languages" value="ru-RU;ru" />
    <add key ="IBS.SyncService" value="http://sagsrv:8080/nww3d/mod/ws-tst/xml-rpc/" />

    <!-- Каталог размещения Model.User.xafml, по умолчанию - в Program Files... -->
    <!-- http://documentation.devexpress.com/#Xaf/CustomDocument3238/1.6 -->
    <add key="UserModelDiffsLocation" value="CurrentUserApplicationDataFolder"/>
    <!-- Также можно разместить Model.User.xafml в базе данных для каждого пользователя отдельно:
    http://documentation.devexpress.com/#Xaf/CustomDocument3337
    http://www.devexpress.com/Support/Center/kb/p/K18137.aspx
    -->
  </appSettings>
  <connectionStrings>
    <add name="EasyTestConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Password=;User ID=Admin;Data Source=IntecoAG.ERM.mdb;Mode=Share Deny None;"/>
    <add name="ConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Password=;User ID=Admin;Data Source=IntecoAG.ERM.mdb;Mode=Share Deny None;"/>
    <!--
		Use the following connection string to connect to a database on the Microsoft SQL Server Express:
		<add name="ConnectionString" connectionString="Integrated Security=SSPI;Pooling=false;Data Source=.\SQLEXPRESS;Initial Catalog=IntecoAG.ERM"/>
		-->
    <!--
		Use the following connection string to connect to a database on the Microsoft SQL Server:
		<add name="ConnectionString" connectionString="Integrated Security=SSPI;Pooling=false;Data Source=(local);Initial Catalog=IntecoAG.ERM" />
		-->
    <!--
		Use the following connection string to connect to a Jet (Microsoft Access) database:
    <add name="ConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Password=;User ID=Admin;Data Source=IntecoAG.ERM.mdb;Mode=Share Deny None;"/>
		-->

    <!--
		PostGreSQL
    <add name="ConnectionString" connectionString="XpoProvider=CustomPostgreSqlConnectionProvider;Server=alt-dev;User Id=pg_adm;Password='flesh*token=across';Database=ermdev;Encoding=UNICODE;"/>
		<add name="ConnectionString" connectionString="XpoProvider=CustomPostgreSqlConnectionProvider;Server=localhost;User Id=iag_usr;Password=qwerty;Database=intecoag_erm;Encoding=UNICODE;"/>
    <add name="ConnectionString" connectionString="XpoProvider=Postgres;Server=alt-dev;User Id=pg_adm;Password='flesh*token=across';Database=ERM_Stage1;Encoding=UNICODE;"/>
    <add name="ConnectionString" connectionString="XpoProvider=Postgres;Server=alt-dev;User Id=pg_adm;Password='flesh*token=across';Database=test;Encoding=UNICODE;"/>
		-->
  </connectionStrings>
  <system.diagnostics>
    <!-- трассировка sql-запросов в файл -->
    <!--
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="LogFileTraceListener" type="System.Diagnostics.TextWriterTraceListener"
            initializeData="trace.log" />
        <remove name="Default" />
      </listeners>
    </trace>
    -->
    <switches>
      <!-- Use the one of predefined values: 0-Off, 1-Errors, 2-Warnings, 3-Info, 4-Verbose. The default value is 3. -->
      <add name="eXpressAppFramework" value="2" />
      <add name="XPO" value="4" />
      <!--
			<add name="XPO" value="3" />
			-->
    </switches>
  </system.diagnostics>
</configuration>
