<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
    <supportedRuntime version="v2.0.50727" />
  </startup>
  <appSettings>
    <add key="Modules" value="" />
    <add key="NewVersionServer" value="" />
    <add key="EnableDiagnosticActions" value="False" />
    <add key="Languages" value="ru-RU;ru" />
    <add key ="IBS.SyncService" value="http://sagsrv:8080/nww3d/mod/ws-srv/xml-rpc/" />

    <!-- Следующие ключи управляют именами ролей используемых системой-->
    <!-- Роль без прав, назначается пользователю по умолчанию -->
    <add key ="SecurityGroups.NullRightRole" value="DefaultNullRight"/>
    <!-- Роль с правами на чтение всех объектов системы кроме безопасности, обновляется автоматически системой-->
    <add key ="SecurityGroups.ReadAllRole"   value="DefaultReadAll"/>
    <!-- Роль с правами на запись всех объектов системы кроме безопасности, обновляется автоматически системой-->
    <add key ="SecurityGroups.EditAllRole"   value="DefaultEditAll"/>
    <!--
      Следующие ключи используются для управления обновлением списка пользователей из сервиса каталогов
      
      Использовать локальную группу пользователей 
    <add key="SyncUserWithAD.ContextType" value="Machine"/>
      Использовать группу домена
    <add key="SyncUserWithAD.ContextType" value="Domain"/>
      Использовать группу из LDAP каталога
    <add key="SyncUserWithAD.ContextType" value="ApplicationDirectory"/>
      Имя сервера или домена
    <add key="SyncUserWithAD.ContextName" value="PERSONAL"/>
      Если группа в домене контейнер группы
    <add key="SyncUserWithAD.ContainerName" value="PATH"/>
      Имя группы
    <add key="SyncUserWithAD.GroupName"   value="TestADGroup"/>
    -->
    <add key="SyncUserWithAD.ContextType" value="Domain"/>
    <add key="SyncUserWithAD.ContextName" value="PERSONAL"/>
    <add key="SyncUserWithAD.GroupName"   value="mount_KDD"/>

    <!-- Признак применения самодельного оператора поиска в строках IList - для postreSql работает без учёта регистров букв -->
    <add key="UseILike" value="True" />
    <!-- Каталог размещения Model.User.xafml, по умолчанию - в Program Files... -->
    <!-- http://documentation.devexpress.com/#Xaf/CustomDocument3238/1.6 -->
    <add key="UserModelDiffsLocation" value="CurrentUserApplicationDataFolder"/>
    <add key="TraceLogLocation" value="CurrentUserApplicationDataFolder" />
    <!-- Также можно разместить Model.User.xafml в базе данных для каждого пользователя отдельно:
    http://documentation.devexpress.com/#Xaf/CustomDocument3337
    http://www.devexpress.com/Support/Center/kb/p/K18137.aspx
    -->
  </appSettings>
</configuration>